[submodule "open-x4-sdk"]
	path = open-x4-sdk
	url = https://github.com/open-x4-epaper/community-sdk.git
[submodule "third_party/flatbuffers"]
	path = third_party/flatbuffers
	url = https://github.com/google/flatbuffers.git
